<body></body>
<h3>amigurumis</h3>
<ul class="contenedor-galeria">
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/charmander.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/chicorita.jpg" class="galeria__img"></li>        
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/delfin.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/girafa.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/kity.jpg" class="galeria__img"></li>       
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/kity1.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/kitys.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/minions.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/minionspony.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/ponys.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/ponys1.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/miny.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/monjitas.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/muñeca.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/muñecas.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/osito.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/osito1.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/pegaso.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/pesebre.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/pikachu.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/piolin.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/powerranger.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/sapopepe.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/unicornio.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/unicornio2.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/walle.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/amigurumis/woody.jpg" class="galeria__img"></li>
</ul>
<script src="modal/modal.js"></script>