<h3>indumentaria</h3>
<ul class="galeria">
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/buso.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/cartuchera.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/chaleco.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/cuellito.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/escarpin.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/escarpin2.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/gorro.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/mantita2.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/mantita3.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/matita.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/pantuflas.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/polar.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/polarbebe.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/polera.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/ropabebe.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/sobretodo.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/subenirsflores.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/subenirsojota.jpg" class="galeria__img"></li>
    <li class="galeria__item"><img src="../../../assets/css/img/indumentaria/zapatillas.jpg" class="galeria__img"></li>
</ul>